{% extends 'main.html' %}

{% block body %}
    
    <form method="post" style="margin: 20px;">
        {% csrf_token %}    {# ถ้า method="post" ต้องมีแท็กนี้เสมอ #}
        <input type="text" name="firstname" placeholder="Firstname"><br><br>
        <input type="text" name="lastname" placeholder="Lastname"><br><br>
        <button type="submit">Submit</button>
    </form>
    
    {% if fname is not None %}
        <h4>Posted Data:</h4>
        Firstname: {{ fname }}<br>
        Lastname: {{ lname }}
    {% endif %}

{% endblock %}