<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST : Tag if</title>
</head>
<body>
    <div>
        {% if home_goals > guest_goals %}
            ทีมเจ้าบ้านชนะ {{home_goals}} ต่อ {{guest_goals}}
        {% elif home_goals < guest_goals %}
            ทีมเยือนชนะ  {{home_goals}} ต่อ {{guest_goals}}
        {% else %}
            เสมอกัน  {{home_goals}} ต่อ {{guest_goals}}
        {% endif %}
    </div>
</body>
</html>