{% extends 'main2.html' %}
{% load static %}

{% block body %}
<table class="table table-bordered ">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th style="text-align: center;" colspan="3" scope="col">FW33</th>
        <th style="text-align: center;" colspan="3" scope="col">FW34</th>
        <th style="text-align: center;" colspan="3" scope="col">FW35</th>
        <th style="text-align: center;" colspan="3" scope="col">FW36</th>
        <th style="text-align: center;" colspan="3" scope="col">FW37</th>   
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="text-align: center;" scope="row" class="table-dark">FPC01</th>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.13</td>
            <td style="text-align: center;">SW.HMI<br>2.08</td>
      </tr>
      <tr>
        <th style="text-align: center;" scope="row" class="table-dark">FPC02</th>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.13</td>
            <td style="text-align: center;">SW.HMI<br>2.08</td>
      </tr>
      <tr>
        <th style="text-align: center;" scope="row" class="table-dark">FPC03</th>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.12</td>
            <td style="text-align: center;">SW.HMI<br>2.07</td>
            <td style="text-align: center;">SW.EXE<br>1.2.0.0</td>
            <td style="text-align: center;">SW.PLC<br>2.13</td>
            <td style="text-align: center;">SW.HMI<br>2.08</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
    