<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div>TEST Variables</div> -->
    <div>{{ colors.0 }}</div>
    <div>{{ colors.1 }}</div>
    <div>{{ flowers.a }}</div>
    <div>{{ flowers.c }}</div>
    <div>{{ date.year }}</div>
    <div>{{ date.month }}</div>
    <div>{{ date.day }}</div>
    <div>{{date.year}} {{date.month}} {{date.day}}</div>

</body>
</html>