{% extends 'main.html' %}

{% block body %}
    <br>
    <table class="table table-striped table-bordered table-sm">
    <caption class="text-center" style="caption-side:top">
        รายการข้อมูลลำดับที่ {{ page.start_index}} - {{ page.end_index }}
    </caption>
    <thead class="thead-dark">        
        <tr>
            <th>ชื่อ</th>
            <th>ตำแหน่ง</th>
            <th>เงินเดือน</th>
            <th>ที่อยู่</th>
            <th>โทรศัพท์</th>
            <th>อีเมล</th>
            <th>วันเกิด</th>
        </tr>
    </thead>
    {% for r in page %}
        <tr>
            <td>{{ r.firstname }} {{ r.lastname }}</td>
            <td>{{ r.position }}</td>
            <td>{{ r.salary }}</td>
            <td>{{ r.address }}</td>
            <td>{{ r.phone }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.birthday|date:'j F Y' }}</td>              
        </tr>
    {% endfor %}
    </table>
    
    {% comment %}
    <div class="mt-4 text-center">
        <div class="mb-2">หน้า: {{ page.number }} </div>

        {% if page.has_previous %}
            <a href="{% url 'pg_pvnx' pg=page.previous_page_number %}">หน้าที่แล้ว</a>
            &nbsp;&nbsp;
        {% endif %}

        {% if page.has_next %}
            &nbsp;&nbsp;
            <a href="{% url 'pg_pvnx' pg=page.next_page_number %}">หน้าถัดไป</a>
        {% endif %}
    </div>
    {% endcomment %}
    
    <div class="mt-4 text-center">
        <div class="mb-2">หน้า: {{ page.number }} </div>

        {% if page.number != 1 %}
            <a href="{% url 'pg_pvnx' pg=1 %}">หน้าแรก</a>
            &nbsp;&nbsp;
        {% endif %}

        {% if page.has_previous %}
            <a href="{% url 'pg_pvnx' pg=page.previous_page_number %}">หน้าที่แล้ว</a>
            &nbsp;&nbsp;
        {% endif %}

        {% if page.has_next %}
            &nbsp;&nbsp;
            <a href="{% url 'pg_pvnx' pg=page.next_page_number %}">หน้าถัดไป</a>
        {% endif %}

        {% if page.number != page.paginator.num_pages %}
            &nbsp;&nbsp;
            <a href="{% url 'pg_pvnx' pg=page.paginator.num_pages %}">หน้าสุดท้าย</a>
        {% endif %}
        
    </div>
    
{% endblock %}