{% extends 'main2.html' %} {% load static %} {% block body %}
<!--
<table border="3">
<thead>
  <tr>
    <th class="table_tag" colspan="16">MACHINE : FLEX ATTACH</th>    
  </tr>
  <tr>
    <th class="table_tag" colspan="16">PROCESS ID : 0950</th>
  </tr>
  <tr>
    <th class="table_tag" colspan="16">ENGINEER : Witthawat Klangsawad</th>
  </tr>
  <tr>
    <th class="table_left_head"></th>
    <th class="table_top_head" colspan="3">{{fw.0}}</th>
    <th class="table_top_head" colspan="3">{{fw.1}}</th>
    <th class="table_top_head" colspan="3">{{fw.2}}</th>
    <th class="table_top_head" colspan="3">{{fw.3}}</th>
    <th class="table_top_head" colspan="3">{{fw.4}}</th>
  </tr>
</thead>
<tbody class="table_cell">  
  <style>
    .border_right{
      background-color:#66FF33;
      border-right: 4px solid  #000000;
    }
  </style>
  {% for line in lines %}
  <tr>
    <td class="table_left_edge">{{mc_line.fpc}}</td>
    <td class={{css_class}}>{{sw_type}}<br>{{sw_verson}}</td>
  </tr>
  {% endfor %}
</tbody> 
<tfoot>
</tfoot>
</table>
-->

{% if state_dashboard_0950 == 1 %}
<h3>Second = 1</h3>
{% elif state_dashboard_0950 == 2 %}
<h3>Second = 2</h3>
{% elif state_dashboard_0950 == 3 %}
<h3>Second = 3</h3>
{% elif state_dashboard_0950 == 4 %}
<h3>Second = 4</h3>
{% else %}
<h3>Second = morethan 4 or 0 ---> now between 5 to 59</h3>

{% endif %} {% endblock %}
