<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SW.Version Detail</title>
</head>
<body>
    <h3>SW.Version Detail</h3><br>
    <h4>PLC</h4><br>
    <h5>PROCESS ID : 1580</h5>
    <h5>TOOL : HSA FD SWAGE</h5>
    <h5>LINE : G1</h5>
    <h5>EQUIPMENT ID : MC_G1</h5>
    <h5>SW.PLC(PRIMARY) : 2.3.43</h5>
    <h5>SW.PLC(SECONDARY) :</h5>
    <h5>SW.PLC(TRIAL) :</h5>
    <h5>SW.PLC(ACTUAL) : 2.3.50</h5>
    <h5>STATUS : TI01</h5>
    <h5>TRIGGER : 2/4/2021 8:26:19 AM</h5><br><br>
    
    <h3>Test by NirutG</h3>
</body>
</html>